<div class="d-flex align-items-center" style="height:300px;">
<div class="container">
  <p id="notice"></p>
  <div class="row">
    <h3 class="px-10 mx-auto">本当に退会しますか?</h3>
  </div>
  <p id="notice"></p>
  <div class="row">
    <p class="px-10 mx-auto">退会すると、会員情報やこれまでの購入履歴が閲覧できなくなります。</p>
  </div>
  <div class="row">
    <p class="px-10 mx-auto">退会する場合は、「退会する」をクリックしてください</p>
  </div>
  <div class="row">
    <div class=" px-3 mx-auto">
     <%= link_to '退会しない', customers_my_page_path, class:"btn btn-primary btn-lg", role:"button" %>
     <%= link_to '退会する', customers_withdraw_path, method: :patch, data: {confirm: "退会しますか？"}, class:"btn btn-danger btn-lg", role:"button" %>
    </div>
  </div>
</div>
</div>